<h1>Registration</h1>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_for(@user) do |f| %>
            <table align="center">
              <tr>
                <td align="center"><%= f.label :firstname %>
                    <%= f.text_field :firstname %><br>
                </td>
              </tr>
              <tr>
                <td align="center">
                    <%= f.label :lastname %>
                    <%= f.text_field :lastname %><br>
                </td>
              </tr>
              <tr>
                <td align="center">
                    <%= f.label :salary %>
                    <%= f.text_field :salary %><br>
                </td>
              </tr>
              <tr>
                <td align="center">
                    <%= f.submit "Save user", class: "btn btn-primary" %>
                </td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
    </td>
  </tr>
</table>
